{% extends 'base.html' %}

{% block app_content %}
  {% if todo %}
    <table class="table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Actions</th>
        <tr>
      </thead>
    <tbody>
    {% for item in todo %}
      <tr>
        <td>{{ item.task }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.priority }}</td>
        <td>
            <a href="{{url_for('delete_task', taskid=item.taskid, userid=current_user.id)}}">
              <button class="btn-danger">Delete</button></a>
        </td>
      </tr>
    {% endfor %}
    <tbody>
  </table>
  {% else %}
    <h3>Your todo list will appear here once you add tasks</h3>
  {% endif %}
{% endblock %}
